:global(#app) {
    .button{
        color:white;
    }
    .button:hover{
        background-color:#1678c2 !important;
    }
    .loginbutton{
        background-color: rgb(33, 133, 208);
    }
    .loginbutton:hover{
        background-color:#1678c2;        
        color:white;
    }
    .loginheader{
        color: rgb(33, 133, 208) !important;
    }
 }
